body { padding-top: 70px; padding-bottom: 70px; }

#epiceditor {
    border: 1px solid silver;
}

div.footer {
    border-top: 2px solid silver;
    text-align: center;
    font-family: monospace;
    padding: 1em;
}
